# ASSIGNMENTS 
## Send it before 0000 hrs IST or 12 AM Wednesday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.

## control flow and conditional statements

Q1. Find the largest number from the given list, use for loop.

```
numbers = [12, 75, 150, 180, 145, 525, 50]
```

In [11]:
numbers = [12, 75, 150, 180, 145, 525, 50]
m = numbers[0]
for num in numbers[1:] :
  if m < num :
    m = num
print(f"largest number is {m}")

largest number is 525

Q2. Print all the even number between (1, 12).

In [12]:
print("Even numbers between 1 and 12:")
for num in range(1,13) :
  if num % 2 == 0 :
    print(num, end =" ")

Even numbers between 1 and 12:
2 4 6 8 10 12

Q3. Calculate the sum of all numbers from 1 to a given number
    
    Expected Output:

    Enter number 10
    
    Sum is:  55

In [13]:
num = int(input("Enter the Number: "))
s = 0
for i in range(1, num + 1) :
  s += i
print(f"Sum of all Numbers 1 to {num} is {s}")

Enter the Number: 7
Sum of all Numbers 1 to 7 is 28

Q4. Write a program to display only those numbers from a list that satisfy the following conditions

- The number must be divisible by five

- If the number is greater than 150, then skip it and move to the next number

- If the number is greater than 500, then stop the loop

In [14]:
# Given:
numbers = [12, 75, 150, 180, 145, 525, 50]
for num in numbers :
  if num % 5 == 0 :
    if num > 500 :
      break
    if num > 150 :
      continue
    print(f"{num}", end=" ")

75 150 145

Q5. Print the given list in reverse order.

```
list1 = [10, 20, 30, 40, 50]
```

In [15]:
list1 = [10, 20, 30, 40, 50]
print("reverse order of list is : ")
for i in list1[::-1] :
  print(i, end = " ")

reverse order of list is :
50 40 30 20 10